.container {
  padding: 20px;
  font-family: Arial, sans-serif;
}

.form-container input,
.form-container label {
  display: block;
  margin: 5px 0;
}

.device-card-horizontal {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background: #f9f9f9;
  padding: 12px;
  border-radius: 8px;
  margin: 10px 0;
  gap: 12px;
  justify-content: space-between;
}

.edit-button,
.delete-button {
  padding: 5px 10px;
  margin-left: 5px;
  cursor: pointer;
}
